Repository munin-monitoring/munin, pull requests merged in 2018-03, with the labels that each got.

#813 Tomcat improvements
  plugins/node.d/tomcat_access
  plugins/node.d/tomcat_jvm
  plugins/node.d/tomcat_threads
  plugins/node.d/tomcat_volume
Labels: [component] plugins, [type] bugfix, [type] enhancement

#837 Fix alerts for unknown values not being triggered for GAUGE values
  master/lib/Munin/Master/LimitsOld.pm
Labels: [affects] 2.0-stable, [component] master, [type] bugfix

#945 munin-node-configure: allow setting SNMP domain
  node/lib/Munin/Node/SNMPConfig.pm
  node/sbin/munin-node-configure
  node/t/munin_node_snmpconfig.t
  plugins/lib/Munin/Plugin/SNMP.pm
Labels: [todo] needs review
