Repository munin-monitoring/munin, pull requests merged in 2018-08, with the labels that each got.

#999 Improve database connection handling
  lib/Munin/Master/HTML.pm
  lib/Munin/Master/LimitsOld.pm
  lib/Munin/Master/Update.pm
Labels: [affects] branch master, [component] master

#1048 Remove dead references
  contrib/munin-mergedb.pl
  doc/example/tips/multimaster.rst
  lib/Munin/Master/LimitsOld.pm
  lib/Munin/Master/Utils.pm
Labels: [affects] branch master

#978 Update default warning threshold
  plugins/node.d/snmp__fc_if_.in
  plugins/node.d/snmp__if_multi.in
Labels: [affects] 2.0-stable, [component] plugins

#1053 Build.PL: name and version
  master/Build.PL
  node/Build.PL
Labels: [affects] 2.0-stable, [component] build system

#1056 munin-node: set default port if not mentioned in config file
  node/lib/Munin/Node/Server.pm
Labels: [affects] 2.0-stable, [component] node
